<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow"/>
<meta name="robots" content="noodp"/>
<meta name="og:title" content="{{pagetitle}}"/>
<meta name="description" content="{{pagedesc}}"/>
<meta name="og:description" content="{{pagedesc}}"/>
<meta property="og:site_name" content="{{sitename}}"/>
<meta property="og:locale" content="en_US"/>
<title>{{pagetitle}}</title>
<style type="text/css">{{style}}</style>
<script type="text/javascript" language="javascript">{{code}}</script>
